// 2 - disable transition
// 4 - enable
$step: 2;

// color
//-- font
$font-color: $inuit-base-text-color;
$link-color: $brand-color;

//-- others
$background-color: white;
$background-overlay: $inuit-base-background-color;
$background-overlay-menu: white;

$overlay-link-border-color: #ddd;

// space
// $pad-side: 20px;
$pad-side-small: $spacing-unit--small;
$pad-side: $spacing-unit;

// ---------------------------
// Default topbar tall -------
// ---------------------------
$pad-tall: 24px;
// ---------------------------
// ---------------------------

$overlay-pad-side: 0;
$overlay-pad-tall: 0;

// share spacing value for both icons
$nav-btn-top: $pad-tall;
$nav-btn-side: 20px;
$nav-btn-width: 42px;
$nav-btn-height: 36px;

// font size
$font-size-link-overlay-1: 24px;
$font-size-link-overlay-2: 24px;
$font-size-link-navmain: 16px;
$font-size-link-navsecondary: 13px;

// time
$howfast: 350ms;



#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.wrapper {
    margin-top: 3*$pad-tall + 2*$font-size-link-navmain;
}


// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// Toggle Buttons
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

.close-btn {
    display: block;
    width: $nav-btn-width;
    height: $nav-btn-height;
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("../images/close-btn-dark.svg") left center no-repeat;
    background-size: 30px 30px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../images/close-btn.png");
    }

    &:focus,
    &:hover {
        @include opacity(1);
    }
}

.nav-btn {
    display: block;
    width: $nav-btn-width;
    height: $nav-btn-height;
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("../images/nav-icon-dark.svg") left center no-repeat;
    background-size: 30px 24px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../images/nav-icon.png");
    }

    &:hover,
    &:focus {
        @include opacity(1);
    }
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// TOP
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
#top {
    z-index: 100;
    position: fixed;
    top:0;
    width: 100%;
    color: $font-color;
    background: $background-color;

    .block {
        position: relative;
        margin: 0 auto;
        padding: $pad-tall $pad-side-small;
        max-width: 1100px;

        @include media-query(lap-and-up) {
            padding: $pad-tall $pad-side;
        }

    }

    .navmain {
        display: none;

        @include media-query(lap-and-up) {
            margin: 0;
            padding: 0 0 0 12px;
            display: inline-block;

            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    display: block;
                    font-size: $font-size-link-navmain;
                }
            }

        }
    }

    .navsecondary {
        display: none;

        @include media-query(lap-and-up) {
            display: block;
            margin: 0; 
            padding: 0;

            position: absolute;
            top: $pad-tall;
            right: $pad-side;

            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    display: block;
                    font-size: $font-size-link-navsecondary;
                }
            }

        }
    }

    .block-title {
        margin: 0;
        display: inline-block;
        font-size: 30px;
        line-height: 36px;
        white-space: nowrap;
    }

    .nav-btn {
        position: absolute;
        top: $nav-btn-top;
        right: $nav-btn-side;
    }
}
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------


// media query
@include media-query(palm) {

    #nav {
        .close-btn {
            position: absolute;
            top: $nav-btn-top;
            right: $nav-btn-side;
        }
    }

    /*
    |--------------------------------------------------------------------------
    | Nav Overlay 
    |--------------------------------------------------------------------------
    | 
    | 
    | 
    */
    #navoverlay {
        padding: $overlay-pad-tall $overlay-pad-side;
        background-color: $background-overlay;
        height: 100%;
        text-indent: $spacing-unit--small;
        padding-top: -1*$pad-tall;
        display: none;
    }
    .navoverlay-top {
        background-color: $background-overlay-menu;
    }
    .navoverlay-top-links {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    display: block;
                    line-height: $nav-btn-top + $nav-btn-top + $nav-btn-height;
                    font-size: $font-size-link-overlay-1;
                }
            }
        }
    }
    .navoverlay-body {
        background-color: $background-overlay-menu;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    display: block;
                    font-size: $font-size-link-overlay-2;
                    line-height: 2.4;
                    border-top: 1px solid $overlay-link-border-color;
                }
                &:last-child a {
                    border-bottom: 1px solid $overlay-link-border-color;
                }
            }
        }
    }
    #navoverlay footer {
        background-color: $background-overlay;
        padding-top: 20px;
        font-size: .9em;
    }

    // --------------------------------------------------------------------------------
    // --------------------------------------------------------------------------------



	@if ($step > 1) {

	    .js-ready {

            #top {
                display: block;
            }
			
			#navoverlay {
				position: fixed;
				width: 100%;
                top: 0;
                left: -9999px;
			}
	        
	    }


        .js-nav {

            #top {
                display: none;
            }

            #navoverlay {
                left: 0;
                display: block;
            }

        }

	} // end @if ($step > 1) 


	@if ($step > 2) {

	    .csstransforms3d.csstransitions.js-ready {

            // #top {
            //     display: block !important;
            //     @include opacity(1);
            //     transition: opacity $howfast ease;
            // }

            #navoverlay {
                left: 0 !important;
                @include opacity(0);
                visibility: hidden;
                transform: translate3d(-9999px,0,0);
                transition: opacity $howfast ease, transform $howfast ease $howfast, visibility 0s;
            }

	        .navoverlay-wrap {
                transform: scale3d(1.1,1.1,1.1);
	            transition: all $howfast ease;
	            backface-visibility: hidden;
	        }
	    }

        .csstransforms3d.csstransitions.js-nav {

            // #top {
            //     @include opacity(0);
            //     display: none;
            // }

            #navoverlay {
                @include opacity(1);
                visibility: visible;
                transform: translate3d(0,0,0);
                transition: all 0 ease;
            }
            .navoverlay-wrap {
                
                transform: scale3d(1,1,1);
                // transform: translate3d(-10%,0,0);
            }
        }

	} // end @if ($step > 2)

}

@include media-query(lap-and-up) {
    #top {

	    .nav-btn {
	        @include visuallyhidden;
	    }
	}

	#navoverlay {
		display: none;
	}

}


