// 2 - disable transition
// 4 - enable
$step: 2;

// color
//-- font
$font-color: $inuit-base-text-color;
$link-color: $brand-color;

//-- others
$background-color: white;
$background-overlay: white;

$overlay-link-border-color: #ddd;

// space
// $pad-side: 20px;
$pad-side-small: $spacing-unit--small;
$pad-side: $spacing-unit;

// ---------------------------
// Default topbar tall -------
// ---------------------------
$pad-tall: 20px;
// ---------------------------
// ---------------------------

$overlay-pad-side: 0;
$overlay-pad-tall: 0;

// share spacing value for both icons
$nav-btn-top: $pad-tall;
$nav-btn-side: 20px;
$nav-btn-width: 42px;
$nav-btn-height: 36px;

// font size
$font-size-link-overlay-1: 24px;
$font-size-link-overlay-2: 24px;
$font-size-link-navmain: 24px;
$font-size-link-navsecondary: 18px;


// time
$howfast: 350ms;

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------


.close-btn {
    display: block;
    width: $nav-btn-width;
    height: $nav-btn-height;
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("../images/close-btn-dark.svg") left center no-repeat;
    background-size: 30px 30px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../images/close-btn.png");
    }

    &:focus,
    &:hover {
        @include opacity(1);
    }
}

.nav-btn {
    display: block;
    width: $nav-btn-width;
    height: $nav-btn-height;
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("../images/nav-icon-dark.svg") left center no-repeat;
    background-size: 30px 24px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../images/nav-icon.png");
    }

    &:hover,
    &:focus {
        @include opacity(1);
    }
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// TOP
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
#top {
    z-index: 100;
    position: relative;
    color: $font-color;
    background: $background-color;

    .block {
        position: relative;
        margin: 0 auto;
        padding: $pad-tall $pad-side-small;
        max-width: 1100px;
        @include media-query(lap-and-up) {
            padding: $pad-tall $pad-side;
        }
    }

    .navmain {
        display: none;
        @include media-query(lap-and-up) {
            margin: 0; padding: 0 0 0 12px;
            display: inline-block;

            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    display: block;
                    font-size: $font-size-link-navmain;
                }
            }
        }
    }
    .navsecondary {
        display: none;
        @include media-query(lap-and-up) {
            margin: 0; padding: 0;
            display: inline-block;
            position: absolute;
            top: $pad-tall;
            right: $pad-side;
            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    display: block;
                    font-size: $font-size-link-navsecondary;
                }
            }
        }
    }

    .block-title {
        margin: 0;
        display: inline-block;
        font-size: 30px;
        line-height: 36px;
        // text-align: center;
        white-space: nowrap;
    }

    .nav-btn {
        position: absolute;
        top: $nav-btn-top;
        right: $nav-btn-side;
    }
}
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------


// media query
@include media-query(palm) {
	$nav-off-canvas-width: 70%;

    /*
    |--------------------------------------------------------------------------
    | navoverlay Custom Style
    |--------------------------------------------------------------------------
    | 
    | 
    | 
    */
    #navoverlay {
        padding: $overlay-pad-tall $overlay-pad-side;
        background-color: $background-overlay;
        height: 100%;
        text-indent: $inuit-base-spacing-unit--small;
    }
    .navoverlay-top {
        
    }
    .navoverlay-top-links {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    display: block;
                    line-height: $nav-btn-top + $nav-btn-top + $nav-btn-height;
                    font-size: $font-size-link-overlay-1;
                }
            }
        }
    }
    .navoverlay-body {
        ul {
            @extend %list-ui;
            li {
                a {
                    display: block;
                    font-size: $font-size-link-overlay-2;
                    line-height: 2.4;
                    border-top: 1px solid $overlay-link-border-color;
                }
                &:last-child a {
                    border-bottom: 1px solid $overlay-link-border-color;
                }
            }
        }
    }
    #navoverlay footer {
        background-color: $inuit-base-background-color;
        padding-top: 20px;
        font-size: .9em;
    }
    // end navoverlay custom style
    
    #nav {
        .close-btn {
            position: absolute;
            top: $nav-btn-top;
            right: $nav-btn-side;
        }
    }

	@if ($step > 1) {

	    .js-ready {
			
			#navoverlay {
				position: absolute;
				left: 0;
				width: 100%;
			}
	        
	    }

	} // end @if ($step > 1) 

	@if ($step > 1) {

	    .js-ready {

	    	#top, .wrapper {
	    		display: block;
	    	}

	        #navoverlay {
	        	display: none;
	        }
	    }

	    .js-nav {

	    	#top, .wrapper {
	    		display: none;
	    	}

	        #navoverlay {
	        	display: block;
	        }
	    }

	} // end @if ($step > 1)

	@if ($step > 2) {

	    .csstransforms3d.csstransitions.js-ready {

	        #navoverlay {
                display: block !important;
                transform: scale3d(0.9,0.9,0.9);
                // transform: translate3d(0,0,0) scale3d(0.9,0.9,0.9);
	            // transform: translate3d(0,0,0);
	            transition: all $howfast ease;
	            backface-visibility: hidden;
	        }
	    }

        .csstransforms3d.csstransitions.js-nav {
            #navoverlay {
                transform: scale3d(1,1,1);
                // transform: translate3d(-10%,0,0);
            }
        }

	} // end @if ($step > 2)

    

}

@include media-query(lap-and-up) {
    #top {

	    .nav-btn {
	        @include visuallyhidden;
	    }
	}

	#navoverlay {
		display: none;
	}

}


