$color-brand:       			$brand-color;

// Buttons
$color-btn:     				#f804ac;

// Page
$inuit-base-background-color:   #f9f9f9;
$inuit-base-text-color:         #000;

// Links
$color-links:           		$color-brand;

// Form
$placeholder-color: 			#ccc;
$state-danger-text:				#a94442;