$color-brand:       			$brand-color;
// Buttons
$color-btn:     				#f804ac;
// Page
$inuit-base-background-color:   #f9f9f9;
$inuit-base-text-color:         #000;

// Form
$placeholder-color: 			#ccc;
$state-danger-text:				#a94442;