// @import 'mixins';
@import '../vendor/scut/src/typography/font-face';

// @include scut-font-face("RSURegular", "../fonts/RSU_regular");
// @include scut-font-face("RSUBold", "../fonts/RSU_bold");
// @include scut-font-face("RSULight", "../fonts/RSU_light");

@import 'vars';

/**
 * #SETTINGS
 */
@import "../vendor/inuit-defaults/settings.defaults";
@import "../vendor/inuit-responsive-settings/settings.responsive";
@import "settings.global";
@import "settings.colors";

/**
 * #TOOLS
 */
@import "../vendor/inuit-functions/tools.functions";
@import "../vendor/inuit-mixins/tools.mixins";
@import "../vendor/inuit-responsive-tools/tools.responsive";
@import "tools.aliases"; // font-size, spacing
@import "tools.mixins"; // vendor


/**
 * #GENERIC
 */
@import "../vendor/inuit-normalize/generic.normalize";
@import "../vendor/inuit-reset/generic.reset";
@import "../vendor/inuit-box-sizing/generic.box-sizing";
@import "../vendor/inuit-shared/generic.shared";

/**
 * #BASE
 */
@import "../vendor/inuit-page/base.page";
@import "../vendor/inuit-headings/base.headings";
@import "../vendor/inuit-lists/base.lists";
@import "../vendor/inuit-images/base.images";

/**
 * #OBJECTS
 */
@import "objects.wrappers";

$inuit-btn-background:      		$color-btn;
$inuit-btn-radius:          		3px;
$inuit-btn-border-width:    		2px;
$inuit-enable-btn--small:   		true;
$inuit-enable-btn--full:    		true;
@import "../vendor/inuit-buttons/objects.buttons";

$inuit-enable-layout--middle:   	true;
$inuit-enable-layout--bottom:   	true;
$inuit-enable-layout--large:    	true;
@import "../vendor/inuit-layout/objects.layout";

@import "../vendor/inuit-box/objects.box";
@import "../vendor/inuit-media/objects.media";

$inuit-enable-flag--rev:        	true;
$inuit-enable-flag--responsive: 	true;
$inuit-flag-collapse-at:        	479px !default;
@import "../vendor/inuit-flag/objects.flag";


/**
 * #TRUMPS
 */
@import "../vendor/inuit-clearfix/trumps.clearfix";

$inuit-use-fractions:   			false;
@import "../vendor/inuit-widths/trumps.widths";
@import "trumps.widths-responsive";

/**
* #Component
*/
@import "components.form";
@import "components.progressbar";
@import "components.nav-offcanvas";
// @import "components.nav-overlay";


// Bootstrap custom
// @import '../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap-custom';

html, body {
  height: 100%;
}

body {
	// padding-top: 0;
	// margin: 0 auto;

	// font-family: $fontBrandRegular;

  // font-family: 'Roboto', sans-serif;
  // font-family: 'PT Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  // font-family: 'Lato', sans-serif;
	// font-family: sans-serif;
}

/* ---------------- list dl ---------------- */
$dl-row-padding: 12px;
$dl-border-color: #aaa;
dl.table-display
{
  width: 80%;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid $dl-border-color;
  dt {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: $dl-row-padding;
    border-top: 1px solid $dl-border-color;
    font-weight: bold;
  }
  dd {
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: $dl-row-padding;
    border-top: 1px solid $dl-border-color;
  }
}

/* ---------------- fileupload ---------------- */
#error-upload {
	color: red;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

/* ---------------- show-password checkbox ---------------- */
form span label.show-password
{
	margin:8px 0 0 1px;
}
form span label.show-password input
{
	cursor:default;
	position:relative;
	top:-1px;
}
form span label.show-password span
{
	white-space:nowrap;
	font-size:0.95em;
	margin:0 0 0 8px;
	padding:0 15px 0 0;
	// background:url(alert10x10.png) no-repeat 100% 60%;
}
